<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Python Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <img src="{{ url_for('static', filename='images/' + result.image + '.jpg') }}" alt="{{ result.image }}">

</head>
<body>
    <div class="content">
        <h1>Lấy chòm sao</h1>
        <form method="post">
            <label>Ngày sinh</label>
            <input type="text" name="day" value="{{ day }}"><br>
            <label>Tháng sinh</label>
            <input type="text" name="month" value="{{ month }}"><br>
            <label></label>
            <input type="submit" name="typeSubmit" value="Lấy chòm sao">
            <input type="submit" name="typeSubmit" value="Xóa">
        </form>
        <div class="result">
          {{ result | safe }}
      </div>
      
    </div>
</body>
</html>
